<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>ops</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/facio.ico')}}" type="image/x-icon">
    {% include 'base/_head_css_js.html' %}
    <link href="{{url_for('static', filename='css/jumpserver.css')}}" rel="stylesheet">
    {% block custom_head_css_js %} {% endblock %}
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div id="wrapper">
    {% include 'base/_left_side_bar.html' %}
    <div id="page-wrapper" class="gray-bg">
        {% include 'base/_header_bar.html' %}
        {% block help_message %} {% endblock %}
        {% block content %}{% endblock %}
        {% include 'base/_footer.html' %}
    </div>
</div>

</body>
{% include 'base/_foot_js.html' %}
{% block custom_foot_js %} {% endblock %}
{% block custom_foot_js2 %} {% endblock %}
</html>