<style>
.modal-body-1 {
    padding: 10px 10px 10px 10px;
}
</style>

<div class="modal fade" id="platform_create_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">创建平台接入</h4>
      </div>
      <div class="modal-body">
        <div>
            <form  method="post" id="platform_create_form" class="form-horizontal" autocomplete="off" enctype="multipart/form-data" action="" >
                <div class="form-group">
                    <label class="col-md-3 control-label">Description</label>
                    <div class="col-md-9 row">
                        <input class="form-control" id="description" name="description" placeholder="平台描述" type="text" value="">
                        <div class="help-block">* required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Platform_url</label>
                    <div class="col-md-9 row">
                        <input class="form-control" id="platform_url" name="platform_url" placeholder="平台真实url" type="text" value="">
                        <div class="help-block">* required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Catagory</label>
                    <div class="col-md-9 row">
                        <select class="form-control" id="catagory" name="catagory" >
                              <option selected value="kefu">客服系统</option>
                              <option value="kefu_monitor">客服监控</option>
                        </select>
                        <div class="help-block">* required</div>
                    </div>
                </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submit_button">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
<script>
   $("#submit_button").on("click",function(){
   $('#platform_create_form').ajaxSubmit(
        {
            url: "{{ url_for('platform-api.platforms_api') }}",
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data['status']) {
                    $('#platform_create_modal').hide()
                    toastr.success(data['msg']);
                    var $data_table = $('#platform_list_table').DataTable();
                    $data_table.ajax.reload();

                } else {
                    alert(data['msg']);
                }
            },
            clearForm: false,
            resetForm: false
        })
});
</script>