{% extends 'base/_modal.html' %}

{% block modal_class %}modal-lg{% endblock %}
{% block modal_id %}node_list_modal{% endblock %}
{% block modal_title%}节点列表{% endblock %}
{% block modal_body %}
<link href="{{ url_for('static', filename='css/plugins/ztree/awesomeStyle/awesome.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/ztree/jquery.ztree.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
<style>
.inmodal .modal-header {
    padding: 5px 5px;
    text-align: center;
}

#assetTree3.ztree * {
    background-color: #f8fafb;
}
#assetTree3.ztree {
    background-color: #f8fafb;
}
</style>

<div class="wrapper wrapper-content">
   <div class="row">
       <div class="col-lg-5" id="split-left" style="padding-left: 3px">
           <div class="ibox float-e-margins">
               <div class="ibox-content mailbox-content" style="padding-top: 0;padding-left: 1px">
                   <div class="file-manager ">
                       <div id="assetTree3" class="ztree">
                       </div>
                       <div class="clearfix"></div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
{% endblock %}

{% block modal_button %}
{% endblock %}
{% block modal_confirm_id %}btn_asset_moveto_confirm{% endblock %}



