<style>
.modal-body-1 {
    padding: 10px 10px 10px 10px;
}
.test_box {
    min-height: 250px;
    max-height: 250px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    outline: 0;
    border: 1px solid #a0b3d6;
    font-size: 12px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
    /*white-space:pre;*/
    white-space: pre-line;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    -webkit-user-modify: read-write-plaintext-only;
    background-color: #161616;
    color:#1fe01f;
}
</style>

<div class="modal fade" id="create_progress" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body-1">
            <div class="ibox float-e-margins test_box" id="stdout_result">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>