{% macro render_field(field,required) %}
     <div class="form-group">
        {{ field.label(class="col-md-2 control-label") }}
        <div class="col-md-8 row">
            {{ field }}
            {% if required %}
                <div class="help-block" style="width:100px">* required</div>
            {% endif %}
            {% if field.errors %}
                <div class="help-block">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_field_no_form_group(field,required) %}
        {{ field.label(class="col-md-2 control-label") }}
        <div class="col-md-4 row">
            {{ field }}
            {% if required %}
                <div class="help-block">* required</div>
            {% endif %}
            {% if field.errors %}
                <div class="help-block">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
{% endmacro %}