{% extends 'base/base.html' %}
{% block custom_head_css_js %}
    <link href="{{ url_for('static', filename='css/plugins/datatables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/plugins/select2/select2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/plugins/ztree/awesomeStyle/awesome.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/ztree/jquery.ztree.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
       <div class="col-lg-3" id="split-left" style="padding-left: 3px">
           <div class="ibox float-e-margins">
               <div class="ibox-content mailbox-content" style="padding-top: 0;padding-left: 1px">
                   <div class="file-manager ">
                       <div id="assetTree" class="ztree">
                       </div>
                       <div class="clearfix"></div>
                   </div>
               </div>
           </div>
       </div>
        <div class="col-sm-9">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="" id="content_start">
                            <form id="search_form" method="get" action=""  autocomplete="off" enctype="multipart/form-data" class="form-inline">
                                <div class="pull-left" style="margin:0px 0px 0px">
                                    <input class="btn btn-default btn-sm" id="sync_aly_bill" type="button" value="同步阿里云费用">
                                </div>
                                <div class="input-group">
                                    <input type="text"  class="form-control input-sm" style="display:none" name="nodeid"  value="">
                                </div>
                                <div class="input-group pull-right">
                                    <div class="input-group-btn">
                                        <button id='search_btn' style="height:34px" type="submit" class="btn btn-sm btn-primary">
                                            搜索
                                        </button>
                                    </div>
                                </div>
                                <div class="input-group pull-right">
                                    <input type="text"  class="form-control input-sm" style="height:34px" name="keyword" placeholder="搜索" value="">
                                </div>
                                <div class="form-group pull-right">
                                    <div class="input-group input-daterange">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="input-sm form-control" style="width: 100px;height:34px" name="date_from" value="{{date_from}}">
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="input-sm form-control" style="width: 100px;height:34px" name="date_to" value="{{date_to}}">
                                    </div>
                                </div>
                                <div class="input-group uc pull-right m-r-5">
                                    <select class="selectpicker" name="asset_type">
                                        {% for astp in ['ECS','SLB','RDS','OSS','ALL'] %}
                                            {% if astp == asset_type %}
                                                <option selected>{{ astp }}</option>
                                            {% else %}
                                                <option>{{ astp }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                    </div>
                        <table class="table table-striped table-bordered table-hover" id="editable" >
                            <thead>
                                <tr>
                                    <th class="text-center">实例名称</th>
                                    <th class="text-center">实例类型</th>
                                    <th class="text-center">时间</th>
                                    <th class="text-center">费用</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in bill_list %}
                                    <tr class="gradeX">
                                        <td class="text-center">{{ object.instance_name }}</td>
                                        <td class="text-center">{{ object.instance_type }}</td>
                                        <td class="text-center">{{ object.day }}</td>
                                        <td class="text-center">{{ object.cost }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <button class="btn btn-sm" type="button">{{ nodegroup }} 总金额: </button>
                              </span>
                              <input type="text" class="form-control" value="{{ sumcost }}">
                            </div><!-- /input-group -->
                        </div>
                        {% include 'base/_pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'asset/_sync_bill_modal.html' %}
{% endblock %}
{% block custom_foot_js %}
<script src="{{ url_for('static', filename='js/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/honeySwitch/bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/loadingoverlay.min.js') }}"></script>
<script>
$(document).ready(function() {
    $('table').DataTable({
        "searching": false,
        "paging": false,
        "bInfo" : false,
        "order": []
    });
   $('.select2').select2({
        dropdownAutoWidth : true,
        width: 'auto'
    });
    $('.input-daterange').datepicker({
        format: "yyyy-mm-dd",
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
    initTree();
})

function initTree() {
    var setting = {
        view: {
            dblClickExpand: false,
            showLine: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        edit: {
            enable: true,
			showRemoveBtn: false,
			showRenameBtn: false,
            drag: {
                isCopy: true,
                isMove: true
            }
        },
        callback: {
            onRightClick: OnRightClick,
            onSelected: onSelected,
        }
    };

    var zNodes = [];
    var data = {'asset_type':'ecs'};
    $.get("{{ url_for('assets-api.nodes_api') }}",data,function(data, status){
        var result = data['data'];
        $.each(result, function (index, value) {
            value["pId"] = value["parent"];
            value["open"] = value["open"];
            value["isParent"] = value["is_node"];
            value["name"] = value["value"] + ' (' + value['assets_amount'] + ')';
        });
        zNodes = result;
        {#$.fn.zTree.init($("#assetTree"), setting);#}
        $.fn.zTree.init($("#assetTree"), setting, zNodes);
        zTree = $.fn.zTree.getZTreeObj("assetTree");
        selectQueryNode();
    });
}

function OnRightClick(event, treeId, treeNode) {
    if (!treeNode && event.target.tagName.toLowerCase() !== "button" && $(event.target).parents("a").length === 0) {
		zTree.cancelSelectedNode();
		showRMenu("root", event.clientX, event.clientY);
	} else if (treeNode && !treeNode.noR) {
		zTree.selectNode(treeNode);
		showRMenu("node", event.clientX, event.clientY);
	}
}

function showRMenu(type, x, y) {
	$("#rMenu ul").show();
    x -= 220;
    $('#rMenu').css({"top":y+"px", "left":x+"px", "visibility":"visible"});

	$("body").bind("mousedown", onBodyMouseDown);
}

function onBodyMouseDown(event){
	if (!(event.target.id === "rMenu" || $(event.target).parents("#rMenu").length>0)) {
		$('#rMenu').css({"visibility" : "hidden"});
	}
}

function filter(treeId, parentNode, childNodes) {
    $.each(childNodes, function (index, value) {
        value["pId"] = value["parent"];
        value["name"] = value["value"];
        value["isParent"] = value["is_node"];
        value["iconSkin"] = value["is_node"] ? null : 'file';
    });
    return childNodes;
}

function selectQueryNode() {
    var query_node_id = $.getUrlParam("nodeid");
    var cookie_node_id = getCookie('bill_node_selected');
    var node;
    var node_id;

    if (query_node_id !== null) {
        node_id = query_node_id
    } else if (cookie_node_id !== null) {
        node_id = cookie_node_id;
    }
    if (node_id) {
        $("input[name='nodeid']").val(node_id);
    }
    node = zTree.getNodesByParam("id", node_id, null);
    if (node){
        zTree.selectNode(node[0]);
    }
}

function onSelected(event, treeNode) {
    setCookie('bill_node_selected', treeNode.id);
    $("input[name='nodeid']").val(treeNode.id);

}

$("#sync_aly_bill").on("click",function(){
   $('#sync-bill-modal').modal('show');
})

$("#submit_button").on("click",function(){
   $('#sync-bill-modal').modal('hide');
   $('#run_task').ajaxSubmit(
        {
            url: "{{ url_for('task-api.aly-sync-task') }}",
            type: 'post',
            dataType: 'json',
            success: function (result) {
                if (result['status']) {
                    $.LoadingOverlay("show", {
                        image       : "",
                        fontawesome : "fa fa-cog fa-spin"
                    });
                    get_sync_bill_result(result['data'])
                } else {
                    toastr.error(result['msg']);
                }
            },
            error:function (XmlHttpRequest, textStatus, errorThrown) {
                error_msg = JSON.stringify(XmlHttpRequest.responseJSON.message);
                toastr.error(error_msg);
            },
            clearForm: false,
            resetForm: false
        })
});

function get_sync_bill_result(taskid) {
    $.ajax({
        url: "{{ url_for('task-api.task_api',taskid='PK') }}".replace('PK',taskid),
        type: "GET",
        success: function (result) {
        if (result['status']) {
            $.LoadingOverlay("hide");
            if (result['data']['status'] === 'SUCCESS') {
                toastr.success('费用同步成功');
            } else {
                toastr.error('费用同步失败');
            }
        } else {
            setTimeout(function () {
                get_sync_bill_result(taskid);
            }, 2000);
        }}})
}

</script>
{% endblock %}

