{% extends 'base/_base_create_update.html' %}
{% from "perm/_wtf.html" import render_field,render_field_no_form_group %}
{% block form %}
<form method="post" id="platform_permission" class="form-horizontal" autocomplete="off" enctype="multipart/form-data" action="" >
    <h3>基本</h3>
    <div class="form-group">
        {{ render_field(form.name,'required') }}
    </div>
    <div class="hr-line-dashed"></div>
    <h3>用户</h3>
    <div class="form-group">
        {{ render_field_no_form_group(form.users,'required') }}
        {{ render_field_no_form_group(form.groups,'required') }}
    </div>
    <div class="hr-line-dashed"></div>
    <h3>平台</h3>
    <div class="form-group">
         {{ render_field(form.platform_urls,'required') }}
    </div>
    <div class="hr-line-dashed"></div>
    <h3>其它</h3>
        {{ render_field(form.is_active) }}
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-white" type="reset">重置</button>
            <button id="submit_button" class="btn btn-primary" type="button">提交</button>
        </div>
    </div>
 </form>
{% endblock %}