{% extends 'base/base.html' %}
{% block custom_head_css_js %}
    <link href="{{ url_for('static', filename='css/plugins/datatables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/plugins/select2/select2.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatables/datatables.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="" id="content_start">
                        {% block content_left_head %} {% endblock %}
                        {% block table_search %}
                        <form id="search_form" method="get" action="" class="pull-right mail-search form-inline">
                            {% block search_form %}
                            {% endblock %}
                        </form>
                        {% endblock %}
                    </div>
                    {% block table_container %}
                    <table class="table table-striped table-bordered table-hover" id="editable" >
                        <thead>
                            <tr>
                                {% block table_head %} {% endblock %}
                            </tr>
                        </thead>
                        <tbody>
                        {% block table_body %} {% endblock %}
                        </tbody>
                    </table>
                    {% endblock %}
                    <div class="row">
                        <div class="col-sm-4">
                            {% block content_bottom_left %} {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
