<!-- css file -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/plugins/vaildator/jquery.validator.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/plugins/datatables/datatables.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/plugins/honeySwitch/bootstrap-select.min.css') }}" rel="stylesheet">

<!-- scripts -->
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/sweetalert/sweetalert.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/datatables/datatables.min.js') }}"></script>