{% extends 'base/_base_create_update.html' %}
{% block form %}
    <form method="post" id="create_group" class="form-horizontal" action="" autocomplete="off" enctype="multipart/form-data" >
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.groupname.label(class="col-md-2 control-label") }}
            <div class="col-md-8">
                {{ form.groupname(size=20) }}
                <div class="help-block">* required</div>
            </div>
        </div>
        <div class="form-group">
            {{ form.description.label(class="col-md-2 control-label") }}
            <div class="col-md-8">
                {{ form.description(size=40) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-white" type="reset">取消</button>
                <button id="submit_button" class="btn btn-primary" type="button">确定</button>
            </div>
        </div>
    </form>
{% endblock %}
