<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ops </title>
    {% include 'base/_head_css_js.html' %}
    <link href="{{ url_for('static', filename='css/jumpserver.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jumpserver.js') }}"></script>
    <style>
        .captcha {
             float: right;
         }
    </style>
</head>

<body class="gray-bg">
    <div class="loginColumns">
        <div>
            <div class="col-md-4">
                <h2>欢迎使用环信Ops</h2>
            </div>
            <div class="col-md-8">
                <div class="ibox-content">
                    <div>
                        <img src="{{ url_for('static', filename='img/logo.png') }}" width="60" height="60">
                        <span class="font-bold text-center" style="font-size: 24px; font-family: inherit; margin-left: 20px">登录</span>
                    </div>
                    <form id="login_user" class="m-t" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input class="form-control" name="username" placeholder="用户名" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="密码" required="">
                        </div>
                        <div class="form-group checkbox pull-left">
                            <label>
                              <input  name="is_ldap_login" type="checkbox" checked>使用ldap登录
                            </label>
                        </div>
                        <button type="submit" id="submit_button" class="btn btn-primary block full-width m-b">登录</button>

                        <a href="">
                            <small>忘记密码</small>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/plugins/toastr/toastr.min.js') }}"></script>
<script>
{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category,message in messages %}
           if ('{{category}}' === 'error'){
              toastr.error("{{message}}");
           }
           else if ('{{category}}' === 'success') {
              toastr.success("{{message}}");
           }
        {% endfor %}
      {% endif %}
{% endwith %}
</script>
</html>
