{% extends 'base/base.html' %}
{% block custom_head_css_js %}
<link href="{{ url_for('static', filename='css/plugins/select2/select2.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/plugins/select2/select2.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/sweetalert/sweetalert.min.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="" class="text-center"><i class="fa fa-laptop"></i>用户详情</a>
                            </li>
                            <li>
                                <a href="" class="text-center"><i class="fa fa-cubes"></i>授权的资产</a>
                            </li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-default" href="{{ url_for('user.users_update',userid=userid)}}"+{{userid}} ><i class="fa fa-edit"></i>更新</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-12" style="padding-left: 0">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label"><b>{{ user_object.name }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>用户名:</td>
                                            <td><b>{{ user_object.username }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>邮件:</td>
                                            <td><b>{{ user_object.email }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>手机号码:</td>
                                            <td><b>{{ user_object.phone }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>微信:</td>
                                            <td><b>{{ user_object.wechat }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>钉钉:</td>
                                            <td><b>{{ user_object.ding }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>角色:</td>
                                            <td><b>{{ ug_object.role }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>最后登录:</td>
                                            <td><b>{{ user_object.last_login_at }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>备注:</td>
                                            <td><b>{{ user_object.comment }}</b></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'user/_user_update_pk_modal.html' %}
{% endblock %}
{% block custom_foot_js %}
<script>
jumpserver.nodes_selected = {};

function updateUserGroups(groups) {
    var the_url = "";
    var body = {
        groups: Object.assign([], groups)
    };
    var success = function(data) {
        // remove all the selected groups from select > option and rendered ul element;
        $('.select2-selection__rendered').empty();
        $('#groups_selected').val('');
        $.map(jumpserver.nodes_selected, function(group_name, index) {
            $('#opt_' + index).remove();
            // change tr html of user groups.
            $('.group_edit tbody').append(
                '<tr>' +
                '<td><b class="bdg_group" data-gid="' + index + '">' + group_name + '</b></td>' +
                '<td><button class="btn btn-danger btn-xs pull-right btn_leave_group" type="button"><i class="fa fa-minus"></i></button></td>' +
                '</tr>'
            )
        });
        // clear jumpserver.groups_selected
        jumpserver.nodes_selected = {};
    };
    APIUpdateAttr({
        url: the_url,
        body: JSON.stringify(body),
        success: success
    });
}

$(document).ready(function() {
    $('.select2').select2()
        .on('select2:select', function(evt) {
            var data = evt.params.data;
            jumpserver.nodes_selected[data.id] = data.text;
        })
        .on('select2:unselect', function(evt) {
            var data = evt.params.data;
            delete jumpserver.nodes_selected[data.id];
        })
})
.on('click', '#is_active', function() {
    var the_url = "";
    var checked = $(this).prop('checked');
    var body = {
        'is_active': checked
    };
    var success = '更新成功';
    APIUpdateAttr({
        url: the_url,
        body: JSON.stringify(body),
        success_message: success
    });
})
.on('click', '#btn_join_group', function() {
    if (Object.keys(jumpserver.nodes_selected).length === 0) {
        return false;
    }
    var groups = $('.bdg_group').map(function() {
        return $(this).data('gid');
    }).get();
    $.map(jumpserver.nodes_selected, function(value, index) {
        groups.push(index);
        $('#opt_' + index).remove();
    });
    updateUserGroups(groups)
}).on('click', '.btn_leave_group', function() {
    var $this = $(this);
    var $tr = $this.closest('tr');
    var $badge = $tr.find('.bdg_group');
    var gid = $badge.data('gid');
    var group_name = $badge.html() || $badge.text();
    $('#groups_selected').append(
        '<option value="' + gid + '" id="opt_' + gid + '">' + group_name + '</option>'
    );
    $tr.remove();
    var groups = $('.bdg_group').map(function() {
        return $(this).data('gid');
    }).get();
    updateUserGroups(groups)
}).on('click', '#btn-reset-password', function() {
    function doReset() {
        var the_url = 'd';
        var body = {};
        var success = function() {
            var msg = "An e-mail has been sent to the user`s mailbox.";
            swal("Reset password", msg, "success");
        };
        APIUpdateAttr({
            url: the_url,
            body: JSON.stringify(body),
            success: success
        });
    }
    swal({
        title: "Are you sure?",
        text: "This will reset the user password and send a reset mail",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Confirm",
        closeOnConfirm: false
    }, function() {
        doReset();
    });
}).on('click', '#btn-reset-pk', function() {
    function doReset() {
        var the_url = '';
        var body = {};
        var success = function() {
            var msg = "The reset-ssh-public-key E-mail has been sent successfully. Please inform the user to update his new ssh public key.";
            swal("Reset SSH public key", msg, "success");
        };
        APIUpdateAttr({
            url: the_url,
            body: body,
            success: success
        });
    }
    swal({
        title: "Are you sure?",
        text: "This will reset the user public key and send a reset mail",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Confirm",
        closeOnConfirm: false
    }, function() {
        doReset();
    });
}).on('click', '#btn-user-update-pk', function(){
    var $this = $(this);
    var pk = $('#txt_pk').val();
    var the_url = '';
    var body = {'_public_key': pk};
    var success = function() {
        $('#txt_pk').val('');
        $this.closest('.modal').modal('hide');
        var msg = "Successfully updated the SSH public key.";
        swal("User SSH public key update", msg, "success");
    };
    var fail = function(msg) {
        swal({
            title: "User SSH public key update",
            text: msg,
            type: "error",
            showCancelButton: false,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Confirm",
            closeOnConfirm: true
            }, function () {
              $('#txt_pk').focus();
            }
        );
    };
    APIUpdateAttr({ url: the_url, body: JSON.stringify(body), success: success, error: fail});
})
</script>
{% endblock %}
