{% extends 'base/_base_create_update.html' %}
{% block action %}
<h3>
    创建用户
</h3>
{% endblock %}
{% block form %}
    <form id="create_user" method="post" class="form-horizontal" action="" autocomplete="off" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <h3>账户</h3>
        <div class="form-group">
            {{ form.username.label(class="col-md-2 control-label") }}
            <div class="col-md-8">
                {{ form.username(size=20) }}
            </div>
        </div>
        <div class="form-group">
            {{ form.email.label(class="col-md-2 control-label") }}
            <div class="col-md-8">
                {{ form.email(size=20) }}
            </div>
        </div>
        <div class="form-group">
            {{ form.groups.label(class="col-md-2 control-label") }}
            <div class="col-md-8">
                {{ form.groups(size=20) }}
            </div>
        </div>
        <div class="form-group">
            {{ form.is_ldap_user.label(class="col-md-2 control-label") }}
            <div class="col-md-8">
                {{ form.is_ldap_user(size=20) }}
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <h3>认证</h3>
        <div class="form-group">
            {{ form.password.label(class="col-md-2 control-label") }}
            <div class="col-md-8">
                {{ form.password(size=20) }}
            </div>
        </div>
        <div class="form-group">
            {{ form.public_key.label(class="col-md-2 control-label") }}
            <div class="col-md-8">
                {{ form.public_key(size=20) }}
            </div>
        </div>

        <div class="hr-line-dashed"></div>
        <h3>角色安全</h3>
        <div class="form-group">
            {{ form.role.label(class="col-md-2 control-label") }}
            <div class="col-md-7">
                {{ form.role(size=20) }}
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <h3>个人信息</h3>
        <div class="form-group">
            {{ form.phone.label(class="col-md-2 control-label") }}
            <div class="col-md-8">
                {{ form.phone(size=20) }}
            </div>
        </div>
        <div class="form-group">
            {{ form.wechat.label(class="col-md-2 control-label") }}
            <div class="col-md-8">
                {{ form.wechat(size=20) }}
            </div>
        </div>
        <div class="form-group">
            {{ form.ding.label(class="col-md-2 control-label") }}
            <div class="col-md-8">
                {{ form.ding(size=20) }}
            </div>
        </div>
        <div class="form-group">
            {{ form.comment.label(class="col-md-2 control-label") }}
            <div class="col-md-8">
                {{ form.comment(size=20) }}
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-white" type="reset">重置</button>
                <button id="submit_button" class="btn btn-primary" type="button">提交</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block custom_foot_js %}
<script src="{{ url_for('static', filename='js/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
<script>
$(document).ready(function () {
    $('.select2').select2();

    $('.input-group.date').datepicker({
        format: "yyyy-mm-dd",
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
})
$("#submit_button").on("click",function(){
   $('#create_user').ajaxSubmit(
        {
            url: "{{ url_for('user-api.users_api') }}",
            type: 'post',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data['status']) {
                    toastr.success(data['msg']);
                } else {
                    toastr.error(data['msg']);
                }
            },
            clearForm: false,
            resetForm: false
        })
});
</script>
{% endblock %}
