<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ops </title>
    {% include 'base/_head_css_js.html' %}
    <link href="{{ url_for('static', filename='css/jumpserver.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jumpserver.js') }}"></script>

    <style>
        .captcha {
             float: right;
         }
    </style>
</head>

<body class="gray-bg">
    <div class="loginColumns">
        <div class="">
            <div class="col-md-3">
                <h2>欢迎使用环信Ops</h2>
            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <div>
                        <img src="{{ url_for('static', filename='img/logo.png') }}" width="60" height="60">
                        <span class="font-bold text-center" style="font-size: 24px; font-family: inherit; margin-left: 20px">登录</span>
                    </div>
                    <form class="m-t" role="form" method="post" action="">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="用户名" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="密码" required="">
                        </div>

                        <button type="submit" class="btn btn-primary block full-width m-b">登录</button>

                        <a href="">
                            <small>忘记密码</small>
                        </a>

                    </form>
                    <p class="m-t">
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                 {% include 'base/_copyright.html' %}
            </div>
        </div>
    </div>
</body>
</html>
