<style>
.modal-body-1 {
    padding: 10px 10px 10px 10px;
}
</style>

<div class="modal fade" id="sync-bill-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">同步费用...</h4>
      </div>
      <div class="modal-body">
        <div>
            <form  method="post" id="run_task" class="form-horizontal" autocomplete="off" enctype="multipart/form-data" action="" >
                <div class="form-group input-daterange">
                    <div class="col-md-4 row hidden">
                        <input class="form-control" name="task_name" type="text" value="syncbill">
                    </div>
                    <label class="col-md-2 control-label">开始时间</label>
                    <div class="col-md-4 row">
                        <input class="form-control" id="day_from" name="day_from" placeholder="开始时间" type="text" value="">
                        <div class="help-block">* required</div>
                    </div>
                    <label class="col-md-2 control-label">结束时间</label>
                    <div class="col-md-4 row">
                        <input class="form-control" id="day_to" name="day_to" placeholder="结束时间" type="text" value="">
                        <div class="help-block">* required</div>
                    </div>
                </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submit_button">Save changes</button>
      </div>
    </div>
  </div>
</div>