{% extends 'base/_base_create_update.html' %}
{% from "asset/_wtf.html" import render_field,render_field_no_form_group,render_field_no_label_group %}
{% block action %}
    创建模板
{% endblock %}
{% block ibox_title_right %}
{% endblock %}
{% block form %}
<form  method="post" id="create_template" class="form-horizontal" autocomplete="off" enctype="multipart/form-data" action="" >
    <h4>基本</h4>
    {{ render_field(form.name,'required') }}
    <div class="hr-line-dashed"></div>
    <div class="form-group row">
        <label class="col-md-2 control-label">阿里云数据同步</label>
        <input class="btn btn-default btn-sm" style="padding-right: 10px" id="sync_vswitches" type="button" value="同步阿里云交换机">
        <input class="btn btn-default btn-sm" id="sync_image" type="button" value="同步阿里云镜像">
        <input class="btn btn-default btn-sm" id="sync_SecurityGroup" type="button" value="同步阿里云安全组">
          ...当选择交换机、镜像及安全组不存在时，点击同步相应信息
    </div>
    <div class="form-group">
        {{ render_field_no_form_group(form.RegionId,'required') }}
        {{ render_field_no_form_group(form.ZoneId,'required') }}
        {{ render_field_no_form_group(form.InstanceNetworkType,'required') }}
        {{ render_field_no_form_group(form.instance_type,'required') }}
    </div>
    <div class="form-group">
        {{ render_field_no_form_group(form.VSwitchId,'required') }}
    </div>
    <div class="hr-line-dashed"></div>
    <h4>选择镜像 / 安全组</h4>
    <div class="form-group" style="margin:1px 0px">
        {{ render_field(form.ImageId,'required') }}
        {{ render_field(form.SecurityGroupId,'required') }}
    </div>
    <div class="hr-line-dashed" style="margin:1px 0px"></div>
    <h4>存储</h4>
    <div class="form-group">
       <label class="col-md-2 control-label" for="SystemDiskCategory">系统盘</label>
        <div class="col-md-2 row">
            <select class="form-control" id="SystemDiskCategory" name="SystemDiskCategory">
                <option value="cloud_efficiency">高效云盘</option>
                <option value="cloud_ssd">SSD云盘</option></select>
        </div>
        <div class="col-md-2 row">
            <input class="form-control" id="SystemDiskSize" name="SystemDiskSize" type="text" value="">
        </div>
       <label class="col-md-2 control-label" for="DataDisk.1.Category">数据盘</label>
        <div class="col-md-2 row">
            <select class="form-control" id="DataDisk.1.Category" name="DataDisk.1.Category">
                <option value="cloud_efficiency">高效云盘</option>
                <option value="cloud_ssd">SSD云盘</option></select>
        </div>
        <div class="col-md-2 row">
            <input class="form-control" id="DataDisk.1.Size" name="DataDisk.1.Size" type="text" value="">
        </div>
    </div>
    <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
        <button class="btn btn-white" type="reset">重置</button>
        <button id="submit_button" class="btn btn-primary" type="button">创建</button>
    </div>
    </div>

</form>
{% include 'asset/_asset_image_modal.html' %}
{% include 'asset/_asset_secgroup_modal.html' %}
{% include 'asset/_progress_modal.html' %}
{% endblock %}
{% block custom_foot_js %}
<script src="{{ url_for('static', filename='js/plugins/select2/select2.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/loadingoverlay.min.js') }}"></script>
<script>
var zonesdata = JSON.parse({{Zones|tojson}});
function AppendZoneid() {
    $("#ZoneId").empty();
    var regionid = $('#RegionId').val()
    $.each(zonesdata[regionid], function (key, value) {
        option = '<option value=' + value.ZoneId + '>' + value.LocalName + '</option>';
        $('#ZoneId').append(option);
    })
}

function netvpc() {
    $("#VSwitchId").empty();
    var InstanceNetworkType = $('#InstanceNetworkType').val()
    if (InstanceNetworkType == 'classic') {
        $('#VSwitchId').parent().parent().addClass('hidden');
    } else {
        $('#VSwitchId').parent().parent().removeClass('hidden');
        var zoneid = $('#ZoneId').val()
        $.get("{{ url_for('assets-api.vswitches_api') }}",{'ZoneId':zoneid}, function(result){
            if (result['data']) {
                $.each(result['data'], function (key, value) {
                    option = '<option value=' + value['VSwitchId'] + '>' + value['VSwitchName'] + '</option>';
                    $('#VSwitchId').append(option);
                });
            }
        });
    }
}

$(document).ready(function () {
    $('.select2').select2();
    $.get("{{ url_for('assets-api.images_api') }}",{}, function(result){
        $.each(result['data'], function (key, value) {
            option = '<option value=' + value['ImageId'] + '>' + value['ImageName'] + '</option>';
            $('#ImageId').append(option);
        });
    });
    $.get("{{ url_for('assets-api.securitygroups_api') }}",{}, function(result){
        $.each(result['data'], function (key, value) {
            option = '<option value=' + value['SecurityGroupId'] + '>' + value['SecurityGroupName'] + '</option>';
            $('#SecurityGroupId').append(option);
        });
    });
    $("#ImageId").parent().find(".select2").on('click', function (e) {
        $("#image_list_modal").modal();
    });
    $("#SecurityGroupId").parent().find(".select2").on('click', function (e) {
        $("#securitygroup_list_modal").modal();
    })
    $.each(zonesdata, function (key, value) {
            var option = '<option value='+key+'>'+key+'</option>';
            $('#RegionId').append(option);
            $('#RegionId_select').append(option);
            $('#SecRegionId_select').append(option);
    });
    AppendZoneid();
    netvpc()
}).on('change', '#RegionId', function () {
    AppendZoneid();
    netvpc();
}).on('change', '#InstanceNetworkType', function () {
    netvpc();
}).on('change', '#ZoneId', function () {
    netvpc();
}).on('click', '#btn_image_modal_confirm', function () {
    var $data_table = $('#images_list_table').DataTable();
    var id_list = [];
    $data_table.rows({selected: true}).every(function(){
        id_list.push(this.data().ImageId);
    });
    if ( id_list.length !== 1  ) {
        toastr.error("请选择镜像,并选择一个!");
        return
    }
    $.each(id_list, function (id, data) {
        $('#ImageId').val(id_list).trigger('change');
    });
    $("#image_list_modal").modal('hide');
}).on('click', '#btn_securitygroup_modal_confirm', function () {
    var $data_table = $('#securitygroups_list_table').DataTable();
    var id_list = [];
    $data_table.rows({selected: true}).every(function(){
        id_list.push(this.data().SecurityGroupId);
    });
    if ( id_list.length === 0  ) {
        toastr.error("至少选择一个安全组!");
        return
    }
    $.each(id_list, function (id, data) {
        $('#SecurityGroupId').val(id_list).trigger('change');
    });
    $("#securitygroup_list_modal").modal('hide');
}).on("click",'#submit_button',function(){
   $('#create_template').ajaxSubmit({
        url: "{{ url_for('assets-api.templates_api') }}",
        type: 'post',
        dataType: 'json',
        success: function (data) {
            if (data['status']) {
                toastr.success(data['msg'])
            } else {
                toastr.error(data['msg']);
            }
        },
        error:function (XmlHttpRequest, textStatus, errorThrown) {
            error_msg = JSON.stringify(XmlHttpRequest.responseJSON.message);
            toastr.error(error_msg);
        },
        clearForm: false,
        resetForm: false
    })
}).on("click",'#sync_image',function(){
    APIUpdateAttr({
        'url': "{{ url_for('task-api.aly-sync-task') }}",
        'method': 'POST',
        'body': JSON.stringify({'task_name':'sync_instance_images'}),
        'success': sync_success
    })
}).on("click",'#sync_SecurityGroup',function(){
    APIUpdateAttr({
        'url': "{{ url_for('task-api.aly-sync-task') }}",
        'method': 'POST',
        'body': JSON.stringify({'task_name':'sync_instance_securitygroup'}),
        'success': sync_success
    })
}).on("click",'#sync_vswitches',function(){
    APIUpdateAttr({
        'url': "{{ url_for('task-api.aly-sync-task') }}",
        'method': 'POST',
        'body': JSON.stringify({'task_name':'sync_vswitches'}),
        'success': sync_success
    })
});

function sync_success(result){
    if (result['status']) {
        $.LoadingOverlay("show", {
            image       : "",
            fontawesome : "fa fa-cog fa-spin"
        });
        get_sync_asset_result(result['data'])
    } else {
        toastr.error(result['msg']);
    }
}
function get_sync_asset_result(taskid) {
    $.ajax({
        url: "{{ url_for('task-api.task_api',taskid='PK') }}".replace('PK',taskid),
        type: "GET",
        success: function (result) {
        if (result['status']) {
            $.LoadingOverlay("hide");
            if (result['data']['status'] === 'SUCCESS') {
                toastr.success('同步成功');
            } else {
                toastr.error('同步失败');
            }
        } else {
            setTimeout(function () {
                get_sync_asset_result(taskid);
            }, 2000);
        }}})
}

</script>
{% endblock %}