{% extends 'base/_base_create_update.html' %}
{% from "perm/_wtf.html" import render_field,render_field_no_form_group %}
{% block form %}
<form method="post" id="asset_permission" class="form-horizontal" autocomplete="off" enctype="multipart/form-data" action="" >
    <h3>基本</h3>
    <div class="form-group">
        {{ render_field(form.name,'required') }}
    </div>
    <div class="hr-line-dashed"></div>
    <h3>用户</h3>
    <div class="form-group">
        {{ render_field_no_form_group(form.users,'required') }}
        {{ render_field_no_form_group(form.groups,'required') }}
    </div>
    <div class="hr-line-dashed"></div>
    <h3>资产</h3>
    <div class="form-group">
         {{ render_field(form.nodes) }}
         {{ render_field(form.assets) }}
         {{ render_field(form.system_users,'required') }}
    </div>
    <div class="hr-line-dashed"></div>
    <h3>其它</h3>
        {{ render_field(form.is_active) }}
        <div class="form-group " id="date_5">
            <label  class="col-sm-2 control-label">有效期</label>
            <div class="col-sm-8">
                <div class="input-daterange input-group" id="datepicker">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="input-sm form-control" name="date_start" value="{{ form.date_start.value }}">
                    <span class="input-group-addon">to</span>
                    <input type="text" class="input-sm form-control" name="date_expired" value="2088-06-07">
                </div>
            </div>
         </div>
        {{ render_field(form.comment) }}
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-white" type="reset">重置</button>
            <button id="submit_button" class="btn btn-primary" type="button">提交</button>
        </div>
    </div>
 </form>
{% include 'asset/_asset_list_modal.html' %}
{% endblock %}