{% extends 'perm/_permission_group.html' %}
{% block action %}
<h3>
    更新授权分组
</h3>
{% endblock %}
{% block custom_foot_js %}
<script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
<script>
$(document).ready(function () {
    $('.select2').select2();
})
$("#submit_button").on("click",function(){
   $('#permission_group').ajaxSubmit(
        {
            url: "{{ url_for('perm-api.permission_group_api',pgid=pgid) }}",
            type: 'put',
            dataType: 'json',
            success: function (data) {
                if (data['status']) {
                    toastr.success(data['msg']);
                } else {
                    toastr.error(data['msg']);
                }
            },
            clearForm: false,
            resetForm: false
        })
});
</script>
{% endblock %}