{% extends 'perm/_platform_permission.html' %}
{% block action %}
<h3>
    更新平台接入授权
</h3>
{% endblock %}
{% block custom_foot_js %}
<script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
<script>
$(document).ready(function () {
    $('.select2').select2({
        closeOnSelect: false
    });
}).on('click', '#btn_asset_modal_confirm', function () {
    var assets = asset_table2.selected;
    $('.select2 option:selected').each(function (i, data) {
        assets.push($(data).attr('value'))
    });
    $.each(assets, function (id, data) {
        $('#assets').val(assets).trigger('change');
    });
    $("#asset_list_modal").modal('hide');
})
$("#submit_button").on("click",function(){
   $('#platform_permission').ajaxSubmit(
        {
            url: "{{ url_for('perm-api.platform_api',platform_permission_id=platform_permission_id) }}",
            type: 'put',
            dataType: 'json',
            success: function (data) {
                if (data['status']) {
                    toastr.success(data['msg']);
                } else {
                    toastr.error(data['msg']);
                }
            },
            clearForm: false,
            resetForm: false
        })
});
</script>
{% endblock %}
